.navbar {
    background: rgba(0,0,0,0.8) !important;
}

.nav-link {
    color: #f8f9fa !important;
}

.navbar :hover {
    color: #dfdfdf !important;
}
.logo-image{
    max-width: 100%;
    height: 100px;
}

.maintenance {
    color: #404b9a;
}


.aw-heading {
    display: block;
    margin-block-start: 2.5em;
    font-weight: bold;
    text-align: center;
    font-weight: 900;
    font-size: 2.125rem;
    letter-spacing: 0.10rem;
    color: #06446c;
}

#home-section {
 
}
.logo {
    width: 100%;
    height: auto;
}


.aw-vertical-align {
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
    position: relative;  
}

.action-buttons a{
    margin: 5px 12px;
    display: inline-block;
}

.custom {
    width: 220.7px;
}

.location {
    font-weight: 900;
    font-size: 2.125rem;
    color: #f8f9fa;
}
.time {
    font-weight: 900;
    font-size: 2.125rem;
    color: #f8f9fa;
    padding-top: 0.0000001rem;
}

.registration {
    position: relative;
    box-sizing: border-box;
}

.btn-light:hover {
    background: transparent;
    color: #f8f9fa;
    border: 2px;
}
.btn-light {
    border: 2px solid #f8f9fa !important;
}

.btn-primary {
    border: 2px solid #06446c !important;
    background: #06446c;
}

.btn-primary:hover {
    background: transparent;
}

.btn-primary-override, .btn-btn-light {
    letter-spacing: 0.10rem;
}

.btn-btn-light:hover{
    background: transparent;
}

.auspices-size {
    font-weight: 900;
    font-size: 2.125rem;
    letter-spacing: 0.10rem;
    margin-top: 5%;
    color:  #06446c;
}


.AlexU-Logo {
    width: 270px;
}
.BA-Logo {
    width: 350px;
}

.eldeeb-logo {
    width: 300px;
}
.Shahid-law-frim {
    height: 150px;
}

.Hosted {
    margin: auto;
}
.BA-Logo {
    width: 300px;
}
.matouk_bassiouny {
    width: 250px;
}

.strategic-Logo{
    width: 250px;
    margin: 15px 20px;
}

.the-law {
    height: 150px;
    margin: 15px 20px;
}

.Auspices{
    margin: 10px 20px;
}
.gold-sponsors {
    margin: auto;
}

.gold{
    margin: 15px 20px;
}

.Strategic {
    margin: auto;
}

.Media {
    margin: auto;
}

.supporting {
    margin: auto;
}
.alltypes {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}
.chit {
    flex: 1 1 140px;
    margin: 40px 30px;
    font-size: 1.5em;
    line-height: 2.2rem;
    text-align: center;

}


.type {
    box-shadow: 0 0 10px 0 rgba(16,16,69,.2);
    margin: 0 auto;
    flex: 1 1 140px;
    min-width: 140px;
    margin: 20px auto;
    font-size: 1.5em;
    line-height: 2.2rem;
    text-align: center;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 100%;
}

.Andalusia {
    width: 300px;
}

.typeName {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    min-height: 50px;
    color: #dfdfdf;  
    position: relative;
    padding: 20px 10px;
}

.typeColor3 {
    background: #06446c;

}

.typeColor2 {
    background: #085587;
}

.typeColor1 {
    background: #0a6aa9;
}

.buttonColor1 {
    background-color: #0a6aa9;
    border-color: #0a6aa9;
}
.buttonColor1:hover, .buttonColor1:focus, .buttonColor1:active{
    background: #0a6aa9 !important;
}

.buttonColor2 { 
    background-color: #085587;
    border-color: #085587;
}

.buttonColor2:hover, .buttonColor2:focus, .buttonColor2:active{
    background: #085587 !important;
}


.buttonColor3:hover, .buttonColor3:focus, .buttonColor3:active{
    background: #06446c !important;
}

.adsero {
    width: 300px;
}

.typeDesc {
    padding: 20px 10.5px;
    font-size: 1.5rem;
}

.allRegister {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.registerButton {
    margin: 0 auto;
    flex: 1 1 140px;
    margin: 12px 30px;
    font-size: 1.5em;
    line-height: 2.2rem;
    text-align: center;
}





.footer {
    margin-top: 150px;  
}
.list {
    margin-left: 5px;
}
.bg-light.p-3.pt-5.footer {
    background-color: #80808080 !important;
}
.fa.fa-facebook.fa-2x, .fa.fa-linkedin.fa-2x, .fa.fa-youtube.fa-2x {
    color: #2b3990;
}

.fa-instagram {
    color: #2b3990;
}

/*Organizers*/

.Alexu-title {
    color: #06446c;
    font-weight: 900;
}
.alexu-text {
    font-size: 1.125rem;
}

#dropdownMenuButton {
    background-color: transparent;
    border: none;
    border-color: transparent;
    
}

.btn-secondary {
    outline: none;
}
#dropdownMenuButton:focus {
    border-color: transparent;
    outline-width: 0;
    outline: none;
}

/*Arbitrators*/

.higlights {
    margin: 74px 0;
    padding: 38px 0;
    background: #80808080;
}

.largeText {
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;

}

.arbitrators {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
    text-align: center;
}

.professors {
    position: relative;
    margin: 50px 0;

}

.content {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;

}

.name {
    text-decoration: none;
    color: rgb(29, 32, 34);
    margin-top: 1.3rem;
    font-size: 1.3rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.desc {
    text-decoration: none;
    color: rgb(29, 32, 34);
    hyphens: auto;
    margin-top: 0.5rem;
    font-size: 1.1rem;

}


.content.section.person a {
    display: block;
    text-decoration: none;
    outline: inherit;
}
.person a{
    text-decoration: none;
    display: inline-block;
    outline: none;
}



.person {
    -webkit-box-flex: 1;
    flex: 1 1 140px;
    min-width: 140px;
    margin: 12px 100px;
    font-size: 1.5em;
    line-height: 2.2rem;
    text-align: center;
}

 
.image {
    position: relative;
    margin: 0 auto;
    width: 140px;
    height: 140px;
    border-radius: 50%; 
    box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;

}
.image:hover::before {
    opacity: 1;
}

.image::before {
    content: 'More...';
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    position: absolute;
    z-index: 1;
    display: block;
    width: 140px;
    height: 140px;
    line-height: 140px;
    border-radius: 50%;
    background: rgba(0,0,0,0.5);
    color: #f8f9fa;
    font-size: 1em;
    font-weight: 600;
}


image :hover .middle{
    opacity: 1;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image img {
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);    
}


/*Sponsors*/
.higlight {
    margin: 125px 0;
    padding: 38px 0;
    background: #80808080;
}

/*Our People*/
.under-auspices {
    margin: 40px 0;
}

.people {
    margin: 125px 0;
}

.orglog {
    margin: 12px 20px;
}
.ausc {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;

}

.cd {
    font-size: 1.1rem;
}




@media (min-width: 576px) {
    .aw-heading {
        font-weight: 900;
        font-size: 3.75rem;
    }
    .aw-countdown {
        width: 31.25rem;
    }
    .aw-padding {
        padding: 0.75rem 2.5rem;
    }
    .aw-about {
        width: 30rem;
    }
}

